{% load static %}
<footer class="footer bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Dashboard</a></li>
                    <li><a href="#" class="text-light">University Info</a></li>
                    <li><a href="#" class="text-light">Noticeboard</a></li>
                    <li><a href="#" class="text-light">Profile</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> admin@university.edu</li>
                    <li><i class="fas fa-phone"></i> +1234567890</li>
                    <li><i class="fas fa-map-marker-alt"></i> University Campus</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy; {% now "Y" %} University Management System. All rights reserved.</p>
        </div>
    </div>
</footer>
