<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Answer</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'students/academic/styles/quiz.css' %}"> -->
    <link rel="stylesheet" href="{% static 'students/academic/styles/quiz_answer.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 id="quizTitle"></h1>
            <p id="scoreSummary"></p>
            <p id="timeSummary"></p>
            <p id="startTime"></p>
            <p id="endTime"></p>
            <p id="windowSwitchTimes"></p>
            <p id="copyTimes"></p>
        </header>
        <div id="quizAnswersContainer"></div>
    </div>
    <script>
        window.quiz_data = JSON.parse('{{quiz_data|escapejs}}');
        console.log(window.quiz_data);
    </script>
    <script type="module" src="{% static 'students/academic/javascripts/quiz_answer.js' %}"></script>
</body>
</html>